<a href="https://colab.research.google.com/github/learn-programmers/programmers_kdt_II/blob/main/9%EC%A3%BC%EC%B0%A8_SQL_%EC%8B%A4%EC%8A%B5_3%EC%9D%BC%EC%B0%A8_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주피터 SQL 엔진 설정

In [1]:
%load_ext sql

In [6]:
!pip install SQLAlchemy==1.4.49
!pip install ipython-sql==0.4.1

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.41)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.10)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.1)

In [8]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:####@####.redshift.amazonaws.com:5439/dev

다양한 SELECT 실행해보기

In [9]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('cd0b43eac0392accf3624b7372dec36e', datetime.datetime(2019, 5, 1, 16, 33, 3, 463000)),
 ('c67ba7c4c5c0cd4cc3e3a7146fe5c015', datetime.datetime(2019, 5, 1, 17, 42, 13, 580000)),
 ('63dfdeb1ff9ff09ecc3f05d2d7221ffa', datetime.datetime(2019, 5, 1, 18, 35, 48, 620000)),
 ('8d3215ae97598264ad6529613774a038', datetime.datetime(2019, 5, 1, 21, 21, 12, 953000)),
 ('4c4c937b67cc8d785cea1e42ccea185c', datetime.datetime(2019, 5, 1, 23, 50, 38))]

In [12]:
%%sql
-- DATE(ts) >> date만 return해주는 함수
SELECT DATE(ts) date, sessionID FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), '7cdace91c487558e27ce54df7cdb299c'),
 (datetime.date(2019, 5, 1), '7ed2d3454c5eea71148b11d0c25104ff'),
 (datetime.date(2019, 5, 1), 'fd0efcca272f704a760c3b61dcc70fd0'),
 (datetime.date(2019, 5, 1), 'c5f441cd5f43eb2f2c024e1f8b5d00cd'),
 (datetime.date(2019, 5, 1), '3d191ef6e236bd1b9bdb9ff4743c47fe'),
 (datetime.date(2019, 5, 1), 'cd0b43eac0392accf3624b7372dec36e'),
 (datetime.date(2019, 5, 1), 'c67ba7c4c5c0cd4cc3e3a7146fe5c015'),
 (datetime.date(2019, 5, 1), '63dfdeb1ff9ff09ecc3f05d2d7221ffa'),
 (datetime.date(2019, 5, 1), '8d3215ae97598264ad6529613774a038'),
 (datetime.date(2019, 5, 1), '4c4c937b67cc8d785cea1e42ccea185c')]

In [13]:
%%sql
-- date를 기준으로 정렬하는데 내림차순으로 10개 출력
SELECT DATE(ts) date, sessionID FROM raw_data.session_timestamp ORDER BY ts
desc LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 11, 30), '6309ff4befccf8ba77b16141fab763c6'),
 (datetime.date(2019, 11, 30), '42daed3b750cc5c6270636fddee0486d'),
 (datetime.date(2019, 11, 30), '398c674511e98d3e9bd40ba5bfa67af8'),
 (datetime.date(2019, 11, 30), '1e65c9f788d6382abc0ee60886e7fa4a'),
 (datetime.date(2019, 11, 30), 'ec6d363a01a8a0691d24b8556bc1fb61'),
 (datetime.date(2019, 11, 30), '8f48bd8292fc4540404dc9dae06175e6'),
 (datetime.date(2019, 11, 30), '89a76004709bb668a8aefb6306a6aed1'),
 (datetime.date(2019, 11, 30), '9cfaefd1e81f637fad6330ff16eb1f39'),
 (datetime.date(2019, 11, 30), 'bbf2f1c020c5e39734c73223784bd7b4'),
 (datetime.date(2019, 11, 30), 'bac82af401b714e895c9c46af11f76ea')]

In [14]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID) -- 날짜를 그룹화해서 sessionID의 개수를 count
FROM raw_data.session_timestamp
GROUP BY 1 -- 첫번째 열을 기준으로 그룹화
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 5), 144),
 (datetime.date(2019, 5, 9), 169),
 (datetime.date(2019, 5, 11), 157),
 (datetime.date(2019, 5, 15), 190),
 (datetime.date(2019, 5, 16), 182),
 (datetime.date(2019, 5, 18), 186),
 (datetime.date(2019, 5, 21), 239),
 (datetime.date(2019, 5, 22), 251),
 (datetime.date(2019, 5, 26), 254),
 (datetime.date(2019, 5, 27), 242)]

In [15]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC -- 위와 같지만 count가 많은 순서대로 10개만 출력
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 10, 23), 678),
 (datetime.date(2019, 11, 13), 671),
 (datetime.date(2019, 11, 12), 668),
 (datetime.date(2019, 10, 11), 665),
 (datetime.date(2019, 10, 29), 660),
 (datetime.date(2019, 10, 21), 653),
 (datetime.date(2019, 11, 5), 652),
 (datetime.date(2019, 11, 11), 651),
 (datetime.date(2019, 10, 14), 648),
 (datetime.date(2019, 11, 7), 645)]

In [16]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1 -- 날짜 순서대로 출력
LIMIT 10; -- DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 147),
 (datetime.date(2019, 5, 2), 161),
 (datetime.date(2019, 5, 3), 150),
 (datetime.date(2019, 5, 4), 142),
 (datetime.date(2019, 5, 5), 144),
 (datetime.date(2019, 5, 6), 164),
 (datetime.date(2019, 5, 7), 180),
 (datetime.date(2019, 5, 8), 161),
 (datetime.date(2019, 5, 9), 169),
 (datetime.date(2019, 5, 10), 176)]

JOIN에 대해 배워보자. 일별 방문 유니크한 사용자의 수를 계산하고 싶다면?

In [26]:
# raw_data.user_session_channel과 raw_data.session_timestamp 테이블의 조인이 필요
%%sql

SELECT DATE(st.ts) date, COUNT(usc.userID)
FROM raw_data.session_timestamp st
-- 다른 테이블에 있기 때문에 join 사용해서 st테이블의 공통키를 사용해서 불러와야함
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 147),
 (datetime.date(2019, 5, 2), 161),
 (datetime.date(2019, 5, 3), 150),
 (datetime.date(2019, 5, 4), 142),
 (datetime.date(2019, 5, 5), 144),
 (datetime.date(2019, 5, 6), 164),
 (datetime.date(2019, 5, 7), 180),
 (datetime.date(2019, 5, 8), 161),
 (datetime.date(2019, 5, 9), 169),
 (datetime.date(2019, 5, 10), 176)]

In [27]:
# raw_data.user_session_channel과 raw_data.session_timestamp 테이블의 조인이 필요
# 하지만 한 사용자가 여러 개의 userid를 가질 수도 있으므로 DISTINCT를 사용해야함
%%sql

SELECT DATE(st.ts) date, COUNT(DISTINCT usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 119),
 (datetime.date(2019, 5, 2), 127),
 (datetime.date(2019, 5, 3), 130),
 (datetime.date(2019, 5, 4), 122),
 (datetime.date(2019, 5, 5), 124),
 (datetime.date(2019, 5, 6), 133),
 (datetime.date(2019, 5, 7), 147),
 (datetime.date(2019, 5, 8), 135),
 (datetime.date(2019, 5, 9), 145),
 (datetime.date(2019, 5, 10), 144)]

In [28]:
## 채널별 유니크한 sessionID 세보기
%%sql

SELECT channel, count(st.sessionID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Facebook', 16791),
 ('Google', 16982),
 ('Instagram', 16831),
 ('Naver', 16921),
 ('Organic', 16904),
 ('Youtube', 17091)]

In [30]:
##
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ilike '%o%' -- 'o'가 들어간 채널 출력, ilike를 쓰면 대소문자를 구분한다.

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[('Facebook',), ('Youtube',), ('Organic',), ('Google',)]

판다스와 연동하는 방법

In [31]:
result = %sql SELECT * FROM raw_data.user_session_channel
df = result.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [32]:
df.head()

   userid                         sessionid   channel
0     184  c41dd99a69df04044aa4e33ece9c9249     Naver
1     251  0a54b19a13b6712dc04d1b49215423d8  Facebook
2     744  05ae14d7ae387b93370d142d82220f1b  Facebook
3     265  4c4ea5258ef3fb3fb1fc48fee9b4408c     Naver
4      45  60131a2a3f223dc8f4753bcc5771660c   Youtube

In [37]:
df.groupby(["channel"])['channel'].count()

channel
Facebook     16791
Google       16982
Instagram    16831
Naver        16921
Organic      16904
Youtube      17091
Name: channel, dtype: int64

In [38]:
df.groupby(["channel"])["sessionid"].count()

channel
Facebook     16791
Google       16982
Instagram    16831
Naver        16921
Organic      16904
Youtube      17091
Name: sessionid, dtype: int64

In [39]:
result = %sql SELECT * FROM raw_data.session_timestamp
df_st = result.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [40]:
df_st['date'] = df_st['ts'].apply(lambda x: "%d-%02d-%02d" % (x.year, x.month, x.day))

In [41]:
df_st.head()

                          sessionid                      ts        date
0  94f192dee566b018e0acf31e1f99a2d9 2019-05-01 00:49:46.073  2019-05-01
1  f1daf122cde863010844459363cd31db 2019-05-01 13:10:56.413  2019-05-01
2  8804f94e16ba5b680e239a554a08f7d2 2019-05-01 14:23:07.660  2019-05-01
3  d5fcc35c94879a4afad61cacca56192c 2019-05-01 15:13:16.140  2019-05-01
4  c17028c9b6e0c5deaad29665d582284a 2019-05-01 15:59:57.490  2019-05-01

In [42]:
df_st.groupby(["date"]).size()  # .sort_values(["date"])

date
2019-05-01    147
2019-05-02    161
2019-05-03    150
2019-05-04    142
2019-05-05    144
             ...
2019-11-26    633
2019-11-27    617
2019-11-28    516
2019-11-29    531
2019-11-30    562
Length: 214, dtype: int64

In [43]:
df_st.groupby(["date"])["sessionid"].count().reset_index(name='count').sort_values("date", ascending=False)

           date  count
213  2019-11-30    562
212  2019-11-29    531
211  2019-11-28    516
210  2019-11-27    617
209  2019-11-26    633
..          ...    ...
4    2019-05-05    144
3    2019-05-04    142
2    2019-05-03    150
1    2019-05-02    161
0    2019-05-01    147

[214 rows x 2 columns]